<section
  class="pl-3 pr-3 pt-8 pb-8 md:flex md:justify-around md:pt-14 md:pb-14 container ml-auto mr-auto"
>
  <div class="image-about flex justify-center items-center">
    <img
      class="rounded-3xl w-[80%] max-w-[31.25rem]"
      src="https://www.stefantopalovic.com/static/media/about-img.62b47e7f183d4b4e9feb.webp"
      alt="about-image"
    />
  </div>
  <div
    class="about-text text-center flex flex-col gap-6 mt-7 md:max-w-[31.25rem] md:text-start"
  >
    <h3 class="text-lg text-secondary font-black uppercase">about</h3>
    <h2 class="text-2xl font-black capitalize">
      Front-End Developer based in Tbilisi, Georgia 📍
    </h2>
    <p class="text-lg">
      Hey, my name is Galaktioni (Gala) Danelia and I'm a Front-End Engineer. My
      passion is to create a clean and well-structured web applications for
      users.
    </p>
    <p class="text-lg">
      My main stack currently is Angular/TypeScript in combination with Tailwind
      CSS and Material.
    </p>
  </div>
</section>
