<header class="fixed top-0 left-0 w-full bg-[white] z-50">
  <div
    class="flex justify-center md:justify-between items-center p-5 md:pr-8 md:pl-8 font-black shadow-md"
  >
    <h2 (click)="onLogo()" class="text-xl cursor-pointer">Gdanelia.dev</h2>
    <ul class="gap hidden md:flex md: gap-4">
      <li
        (click)="onLogo()"
        class="cursor-pointer hover:text-secondary transition-all"
      >
        Home
      </li>
      <li
        (click)="onNavigation(450)"
        class="cursor-pointer hover:text-secondary transition-all"
      >
        About
      </li>
      <li
        (click)="onNavigation(900)"
        class="cursor-pointer hover:text-secondary transition-all"
      >
        Projects
      </li>
      <li
        (click)="onNavigation(2550)"
        class="cursor-pointer hover:text-secondary transition-all"
      >
        Contact
      </li>
    </ul>
  </div>
</header>
